* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Manjari;


}

.title h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 2.9em;
  text-transform: uppercase;
}

.container {
  background: #ffffff;
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;

  display: grid;
  gap: 1em;
  grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .aside,
.container > .footer {
  background: #ffffff;
  padding: 20px;
  border: 1px solid black;
}

.container .header,
.container .footer {

  grid-column: 1/6;
  background-color: #1e272e;
  color: #ffffff;
}

.container > .content {
  grid-column:span 3 ;
}

.content > .article {
  background: #807e9b;
  padding: 200px;
  margin-top: 5px;
  color: #dfe6e9;
  width: auto;
  height: 200px;
  border: 3px solid black;
}

.content .article h1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .aside {
  grid-column: span 2;
  background: #485460;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
}

.container .aside img {
  width: 350px;
  height: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .section {
  grid-column: 1/6;
  background: #2d3436;
  color: white;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;

}

.container > .section:hover {
  cursor: pointer;
  color: black;
  background: white;
}
